.button {
    background: var(--primary-primary-500, #2d62ea);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 146px;
    /* position: absolute; */
    left: 224px;
    top: 66px;
  }
  .center_title {
    color: var(--text-text-900, #1d1d1d);
    text-align: left;
    font: 400 italic 20px/136% "ABeeZee", sans-serif;
    /* position: absolute; */
    left: 24px;
    top: 74px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .nb {
    width: 1024px;
    height: 50px;
    /* position: absolute; */
    left: 0px;
    top: 0px;
  }
  .nv-center {
    background: var(--bg-bg-wh, #ffffff);
    border-style: solid;
    border-color: var(--scale-grayscale-gray-200, #e7e7e7);
    border-width: 0px 0px 1px 0px;
    width: 1024px;
    height: 50px;
    /* position: absolute; */
    left: 0px;
    top: 0px;
    overflow: hidden;
  }
  .notifications {
    width: 24px;
    height: 24px;
    /* position: absolute; */
    left: 976px;
    top: 13px;
  }
  .notifications2 {
    /* position: absolute; */
    left: 0px;
    top: 0px;
    overflow: visible;
  }
  .logo {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    /* position: absolute; */
    left: 24px;
    top: 14px;
    overflow: visible;
  }
  .profile {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    /* position: absolute; */
    left: 767px;
    top: 13px;
  }
  .line-101 {
    border-style: solid;
    border-color: var(--borderline-line-200, #e7e7e7);
    border-width: 1px 0 0 0;
    flex-shrink: 0;
    width: 22px;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
  }
  .profile2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .profile3 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 95px;
    position: relative;
  }
  .graphic-profile-24-px {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
  }
  ._01 {
    color: var(--text-text-900, #1d1d1d);
    text-align: left;
    font: 400 14px/144% "Pretendard", sans-serif;
    position: relative;
  }
  .label {
    background: var(--bg-bg-100, #f4f4f4);
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  
  .line-100 {
    border-style: solid;
    border-color: var(--borderline-line-200, #e7e7e7);
    border-width: 1px 0 0 0;
    flex-shrink: 0;
    width: 22px;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(90deg) scale(1, 1);
  }
  .nb-menu {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: 629px;
    /* position: absolute; */
    left: 110px;
    top: 15px;
  }
  .area {
    color: #000000;
    text-align: left;
    font: 600 14px/144% "Pretendard", sans-serif;
    position: relative;
    flex: 1;
  }
  .tab {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    /* position: absolute; */
    left: 24px;
    top: 125px;
  }
  .text {
    border-style: solid;
    border-color: var(--primary-primary-300, #6691ff);
    border-width: 0px 0px 2px 0px;
    padding: 8px 12px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  ._00 {
    color: var(--primary-primary-300, #6691ff);
    text-align: center;
    font: 400 italic 14px/144% "ABeeZee", sans-serif;
    position: relative;
  }
  .text2 {
    border-style: solid;
    border-color: var(--borderline-line-300, #cfcfcf);
    border-width: 0px 0px 1px 0px;
    padding: 8px 12px 8px 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  ._002 {
    color: var(--text-text-400, #aeaeae);
    text-align: center;
    font: 600 14px/144% "Pretendard", sans-serif;
    position: relative;
  }
  .membership {
    background: var(--bg-bg-wh, #ffffff);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--borderline-line-200, #e7e7e7);
    border-width: 1px;
    width: 304px;
    height: 202px;
    position: absolute;
    left: 24px;
    top: 379px;
    overflow: hidden;
  }
  .contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 154px;
    /* position: absolute; */
    left: 24px;
    top: 24px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .text3 {
    color: var(--text-text-900, #1d1d1d);
    text-align: left;
    font: 400 italic 14px/144% "ABeeZee", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .text4 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .text5 {
    color: var(--text-text-400, #aeaeae);
    text-align: left;
    font: 400 14px/144% "Pretendard", sans-serif;
    position: relative;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .text6 {
    color: var(--text-text-900, #1d1d1d);
    text-align: left;
    font: 400 14px/144% "Pretendard", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .content2 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .text7 {
    color: var(--text-text-400, #aeaeae);
    text-align: left;
    font: 400 14px/144% "Pretendard", sans-serif;
    position: relative;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .label2 {
    background: var(--bg-bgc-50, #ebf1ff);
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    left: 203px;
    top: 14px;
  }
  .text8 {
    color: #2d62ea;
    text-align: right;
    font: 400 10px/128% "Pretendard", sans-serif;
    position: relative;
  }
  .tiket-ac {
    padding: 10px;
    /* position: absolute; */
    left: 237px;
    top: 128px;
    overflow: visible;
  }
  .membership2 {
    background: var(--bg-bg-wh, #ffffff);
    border-radius: 10px;
    border-style: solid;
    border-color: var(--borderline-line-200, #e7e7e7);
    border-width: 1px;
    width: 304px;
    height: 202px;
    /* position: absolute; */
    left: 24px;
    top: 177px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .tiket-ac2 {
    padding: 10px;
    /* position: absolute; */
    left: 237px;
    top: 128px;
    overflow: visible;
  }
  .parent {
    display: flex;
    flex-direction: column;
    gap: 20px; /* adjust this value to set the gap between membership2 elements */
  }
  
  .ticketheader {
    display: flex;
    justify-content: space-around;
  }
  