/* login.module.css */

.loginContainer {
    width: 375px;
    height: 614px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .title {
    margin-bottom: 20px;
  }
  .logo {
    color: #2D62EA;
    margin-bottom: 20px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CFCFCF;
  }

  .loginButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .loginButton {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background: #F4F4F4;
    border: none;
    cursor: pointer;
  }
  
  .linkText {
    color: #CFCFCF;
    margin-bottom: 10px;
  }